<div class="bg-[#2C2C2C] rounded-3xl shadow" *ngIf="element">
  <div class="m-2 pt-2 relative">
    <img appImgAi [name]="element.name || element.title" class="rounded-3xl" alt="" />
    <button type="button" class="cursor-pointer" (click)="addFavorite()">
      <span
        class="top-3 right-2 absolute inline-flex items-center justify-center w-8 h-8 bg-white rounded-full"
      >
        <span class="material-icons-outlined text-md">
          {{ element.isFavorite ? 'favorite' : 'favorite_border' }}
        </span>
        <span class="sr-only">Icon favorite</span>
      </span>
    </button>
  </div>
  <div class="p-4 py-5">
    <h5
      class="mb-2 text-xl font-medium text-white"
      *ngIf="element.hasOwnProperty('name'); else hasTitle"
    >
      {{ element.name }}
    </h5>
    <a
      [routerLink]="['/dashboard', schema, getElementId]"
      class="flex justify-between items-center cursor-pointer mt-5"
    >
      <p class="text-md font-bold text-center text-white rounded-lg">Ver más</p>
      <span class="material-symbols-outlined text-white"> arrow_forward </span>
    </a>
  </div>

  <ng-template #hasTitle>
    <h5 class="mb-2 text-xl font-medium text-white">{{ element.title }}</h5>
  </ng-template>
</div>
